.filter-small {
  max-width: 95%;
  align-items: center;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 12px;
}

.filter-small__wrapper {
  display: flex;
  flex-direction: row;
}

.filter-small__wrapper_1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-small__wrapper_2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-small__filter {
  width: 70px;
  text-align: center;
  background-color: #6c6f6f;
  border-radius: 5px;
}

.filter-small__clear-complete {
  margin: 0;
}

.filter-small__left-notes {
  margin: 0;
}

@media screen and (max-width: 768px) {

  .filter-small {
    display: flex;
  }
}